
<ion-content #pageTop>
    <ion-slides slidesPerView=3 initialSlide="1">
        <ion-slide *ngFor="let category of VideoCategories" (click)=loadPage(category.pageName)>
          <div class="categories" [ngStyle]="{'color':category.pageName === 'TechVideosPage' ? 'white' : '#d6b8d2' }">{{category.title}}</div>
        </ion-slide>
        
      </ion-slides>
  <ion-card  *ngFor="let feed of items" (click)=openWebPage(feed.link) class="card-background-page">
        
        <!-- <span [innerHTML]="feed.description"></span> -->
       <!-- <span>https://img.youtube.com/vi/NNPvx2L5E_w/mqdefault.jpg
         http://img.youtube.com/vi/THE-VIDEO-ID/0.jpg or
          http://img.youtube.com/vi/THE-VIDEO-ID/default.jpg – full size thumb
          http://img.youtube.com/vi/THE-VIDEO-ID/mqdefault.jpg – medium default
          http://img.youtube.com/vi/THE-VIDEO-ID/maxresdefault.jpg – high res
          http://img.youtube.com/vi/THE-VIDEO-ID/1.jpg – small thumb
          http://img.youtube.com/vi/THE-VIDEO-ID/2.jpg – small thumb
          http://img.youtube.com/vi/THE-VIDEO-ID/3.jpg – small thumb
       </span> -->
       <img src="https://img.youtube.com/vi/{{feed.ytID}}/mqdefault.jpg" style="width: 100%" />
       <img class="playIcon" src="{{playIcon}}"/><br />
    <div class="card-title">{{feed.title}}</div>
    <p class="card-subtitle1">{{feed.date | timeAgo}}
      &nbsp;/&nbsp;<i class="fa fa-eye"></i>&nbsp;{{feed.views}}&nbsp;/&nbsp;
      <ion-icon class="fa fa-twitter-square fa-2x"></ion-icon> &nbsp;
      <ion-icon class="fa fa-facebook-square fa-2x"></ion-icon> &nbsp;
      <ion-icon class="fa fa-google-plus-square fa-2x"></ion-icon> &nbsp;
      <ion-icon class="fa fa-whatsapp fa-2x"></ion-icon> &nbsp;
      <ion-icon class="fa fa-linkedin fa-2x"></ion-icon>
      
    </p>
  
   <hr style="clear:both" />
    
      </ion-card>

      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more videos...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
      <ion-fab style="position:absolute;right:0;bottom: 0">
          <button ion-fab mini (click)="pageScroller()" class="backToTop"><i class="fa fa-angle-up"></i></button>
        </ion-fab>
      <p *ngIf="reachedEnd" text-center>You saw all Videos !!!</p>
</ion-content>
